{% extends 'base.html' %}


{% block content %}


<form class="sm:w-full md:w-9/12 lg:w-1/2 xl:w-2/5 px-6 mx-auto" method="POST"> {% csrf_token %}
    <div class="mb-7 text-3xl font-semibold">Kirish</div>

    <div class="mb-6">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Telefon raqam <span class="text-red-500">*</span> </label>
        <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="+998333932580" required />
    </div>
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Parol <span class="text-red-500">*</span> </label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="•••••••••" required />
    </div>

    <button type="submit" class="text-gray-50 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full md:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Yuborish</button>
</form>


{% endblock %}