{% extends 'base.html' %}


{% block content %}
<div class="container mx-auto p-4 max-w-2xl">
    <div class="flex justify-between items-center flex-wrap mb-4">
        <h2 class="text-xl font-semibold mb-4">📜 Mening Iqtiboslarim</h2>
        <a href="#" class="bg-blue-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 text-nowrap">Yangi iqtibos ✍️</a>
    </div>

    <div class="">
        <div class="p-4 border rounded-md bg-white shadow-sm">
            <div class="flex justify-between items-center flex-wrap">
                <div>
                    <p class="italic">"Kitoblar jimjitlik ichida so‘zlaydi."</p>
                    <p class="text-sm text-gray-500 mt-1">— Umberto Eco</p>
                </div>

                <p class="text-sm text-gray-600 mt-1">"Il Giornale dei Libri" kitobidan</p>
            </div>
            <div class="flex justify-between items-center text-sm text-gray-600 mt-2">
                <span class="text-gray-600 text-nowrap"><i class="fa-solid fa-heart"></i> 152</span>
                <span class="text-xs text-gray-400">Qo‘shilgan sana: 2025-02-02</span>
                <div class="flex text-xs flex-wrap w-min">
                    <a href="#" class="text-yellow-600 text-nowrap">✏️ Tahrirlash</a>
                    <a href="#" class="text-red-600 text-nowrap">🗑 O‘chirish</a>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock content %}