{% extends 'base.html' %}


{% block content %}


<form class="w-1/3 mx-auto" method="POST"> {% csrf_token %}
    <div class="mb-7 text-3xl font-semibold">Ro'yhatdan o'tish</div>

    <div class="mb-6">
        <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 ">To'liq ism <span class="text-red-500">*</span> </label>
        <input type="text" id="full_name" class="bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="Muslimaxon Abdusalomova" required />
    </div>
    <div class="mb-6">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Phone number <span class="text-red-500">*</span> </label>
        <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" required placeholder="+998333932580" />
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email address</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div>
    <div class="mb-6 flex gap-6">
        <div class="flex-grow">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Parol <span class="text-red-500">*</span> </label>
            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="•••••••••" required />
        </div>
        <div class="flex-grow">
            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 ">Parolni tasdiqlash <span class="text-red-500">*</span> </label>
            <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  focus:ring-blue-500 focus:border-blue-500" placeholder="•••••••••" required />
        </div>
    </div>
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 ring-offset-gray-800" required />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900">Men <a href="#" class="text-blue-600 hover:underline">foydalanish shartlariga</a> roziman.</label>
    </div>
    <button type="submit" class="text-gray-50 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Yuborish</button>
</form>


{% endblock %}